@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover-underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust thickness */
    background-color: #f3f4f6; /* lightGray color */
    transition: width 0.3s ease-in-out;
  }
  .hover-underline:hover::before {
    width: 100%;
  }
}